@import "~toastr/build/toastr.css";

.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.inputContainer>div>input{
  margin-bottom: 0px;
}
.error{
  font-size: x-small;
  color: red;
  margin-bottom: 5px;
}
.inputContainer>div{
  width: 100%;
}

span.caret{
 border: none;
}